/* Background and Layout */
b/* General Layout and Background */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom right, #f7f7f7, #ffffff);
}

/* Welcome Text Styling */
.welcome-text {
  text-align: center;
  margin-bottom: 50px;
}

.welcome-text h1 {
  font-weight: bold;
  font-size: 36px;
  color: #000;
  margin-bottom: 16;
  
}

/* Logo Section */
.logo img {
  width: 250px;
  height: px;
  margin-top: px;
}

/* Input Container */
.input-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  
  

}

/* Label Styling */
.input-label {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

/* Input Field Styling */
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 5cqmax;
  border: 3px solid #a075c1;
  font-size: 14px;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  outline: none;
}

.input-field::placeholder {
  color: #5d5959;
}

.input-field:focus {
  border-color: #ab8ebc;
}

/* Forgot Password Styling */
.forgot-password {
  text-align: center;
  margin-bottom: 19px;
}

.forgot-password a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  
}

/* Login Button */
.login-button {
  width: 100%;
  max-width: 600px;
  padding: 0px;
  background-color: #fcfcfc;
  color: #fff;
  text-align: center;
  border-radius: 45px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #f7f7f7;
  width: 200%;
  
}

/* Create Account Section */
.create-account {
  text-align: center;
  font-size: 14px;
  margin-top: 19px;
}

.create-account a {
  
  font-size: 15px;
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  
}

/* Responsive Layout */
@media (max-width: 600px) {
  .login-container {
    padding: 22px;
  }

  .input-container, .login-button {
    max-width: 200%;
    
  }

  .welcome-text h1 {
    font-size: 38px;
    padding: 50px;

  }
  .logo img  {
    font-size: 250px;
    padding: 2px;

  .input-field {
    padding: 10px;
    
  }

  .login-button {
    padding: 10px;
  }
}
}